/Saved
/Build
/Intermediate
/BlackSails.VC.db
/BlackSails.sdf
/Binaries/Win64/UE4Editor-BlackSails.pdb
/Source
/BlackSails.sln
/.idea
/.vs
*.pdb
*.exe
*.exp
*.patch*
boost_*
*DebugGame*
/Binaries/Win64/BlackSails.exe
/Binaries/Win64/BlackSails.exp
/Binaries/Win64/BlackSails.lib
/Binaries/Win64/BlackSails.pdb
/Binaries/Win64/BlackSails-Win64-Shipping.pdb
/Binaries/Win64/BlackSails-Win64-Shipping.target
/Binaries/Win64/BlackSails-Win64-Shipping.exe
/Binaries/Win64/BlackSails-Win64-Shipping.exp
/Binaries/Win64/BlackSails-Win64-Shipping.lib
/Binaries/Win64/turbojpeg.dll
/Binaries/Win64/BlackSails-Win64-DebugGame.exe
/Binaries/Win64/BlackSails-Win64-DebugGame.exp
/Binaries/Win64/BlackSails-Win64-DebugGame.lib
/Binaries/Win64/BlackSails-Win64-DebugGame.pdb
/Binaries/Win64/BlackSails-Win64-DebugGame.target
/Binaries/Win64/OpenImageDenoise.dll
/Binaries/Win64/tbb12.dll
/Binaries/Win64/UE4Editor-SenseSystem.pdb
/Binaries/Win64/UE4Editor-SenseSystemEditor.pdb
/Binaries/Win64/UnrealEditor-BlackSails.pdb
/Binaries/Win64/UnrealEditor-SenseSystem.pdb
/Binaries/Win64/UnrealEditor-SenseSystemEditor.pdb
/Binaries/Win64/UnrealEditor-TreeEditor.pdb
/Binaries/Win64/tbb.dll
D3D12Core.dll